/*************************
* General settings
*************************/

.reveal h1 {
  font-size: 2em; }

.reveal h2 {
  font-size: 1.5em; }

.reveal h3 {
  font-size: 1em; }


.reveal blockquote {
	width: 90%;
}


/*Headers of nested slides*/
.reveal .level2 h1 {
 	font-size: 2.5em;
	text-transform: capitalize;
	font-variant: small-caps;
	margin-bottom: .3em;
 }

.reveal .source {
	position: absolute;
	bottom: -5em;
	font-size: .6em;
	width: 100%;
}

/* Quotes */
.reveal blockquote {
	font-size: 0.73em;
}


/*********************
* Title-Slide
*********************/
.reveal .title {
	font-size: 1.8em;
	padding-top: 1.5em;
}

.reveal .subtitle {
	font-size: 1em;
	padding-top: 0.5em;
	padding-bottom: 1em;
}

.reveal .author {
	font-size: 1.05em;
	text-transform: capitalize;
	font-variant: small-caps;
	margin-bottom: 1em;
}

.reveal .date {
	font-size: 1em;
	text-transform: capitalize;
	font-variant: small-caps;
}



/*******************************
* Einführung ins Feld 
*******************************/

.reveal #hochschulverbindungslandschaft-in-österreich h1 {
	font-size: 2em;
	margin-bottom: .2em;
}
.reveal #hochschulverbindungslandschaft-in-österreich img {
	max-width: 80%;
}


