/*************************
* General settings
*************************/

.reveal h1 {
  font-size: 2em; }

.reveal h2 {
  font-size: 1.5em; }

.reveal h3 {
  font-size: 1em; }



/*Headers of nested slides*/
.reveal .level2 h1 {
 	font-size: 2.5em;
	text-transform: capitalize;
	font-variant: small-caps;
	margin-bottom: .3em;
 }

.reveal .source {
	position: absolute;
	bottom: -5em;
	font-size: .6em;
	width: 100%;
}

/* Quotes */
.reveal blockquote {
	width: 90%;
	font-size: 0.73em;
}

/* Table */

.reveal table th {
	text-align: center;
}



/*********************
* Title-Slide
*********************/
.reveal .title {
	font-size: 1.8em;
	padding-top: 1.5em;
}

.reveal .subtitle {
	font-size: 1em;
	padding-top: 0.5em;
	padding-bottom: 1em;
}

.reveal .author {
	font-size: 1.05em;
	text-transform: capitalize;
	font-variant: small-caps;
	margin-bottom: 1em;
}

.reveal .date {
	font-size: 1em;
	text-transform: capitalize;
	font-variant: small-caps;
}

/* Fragestellung */
.reveal #fragestellung blockquote {
	font-size: 100%;
}



